


faiss-cpu==1.15.0
fastapi==0.135.1

google-api-core==2.31.0
google-api-python-client==2.198.0
google-auth==2.57.0
google-auth-httplib2==0.4.0
google-genai==2.20.0
google-pasta==0.2.0
googleapis-common-protos==1.75.0
greenlet==3.5.6

matplotlib==3.10.6
matplotlib-inline==0.1.7

numpy==2.3.3

openpyxl==3.1.5

pandas==2.3.3

plotly==6.9.0

python-dotenv==1.2.3
scikit-learn==1.8.0

sentence-transformers==6.0.0

streamlit==1.61.1


